node_modules/

contracts/artifacts/
contracts/cache/
contracts/deployments/
contracts/src/conctractsInfo.json
contracts/typechain/
contracts/config.js
!contracts/config.js.example
contracts/yarn-error.log

ui/.svelte-kit/
ui/src/build/

.DS_Store
package-lock.json
pnpm-lock.yaml
