{
    "hooks": {
        "commit-msg": "commitlint -E HUSKY_GIT_PARAMS"
    },

    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
}
