{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "arrowParens": "always",
                "bracketSpacing": true,
                "endOfLine": "lf",
                "semi": true,
                "printWidth": 600,
                "quoteProps": "as-needed",
                "trailingComma": "es5",
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}
